absl-py
altair
annotated-types
astunparse
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
fake-useragent
filelock
flatbuffers
fonttools
fpdf
fsspec
gast
gensim
gitdb
GitPython
google-pasta
grpcio
h5py
huggingface-hub
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kaleido
keras
kiwisolver
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
mpmath
murmurhash
namex
narwhals
networkx
nltk
numpy
opt_einsum
optree
packaging
pandas
pillow
plotly
preshed
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
regex
reportlab
requests
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
setuptools
shellingham
six
smart-open
smmap
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
streamlit-option-menu
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
textblob
tf_keras
thinc
threadpoolctl
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
weasel
Werkzeug
wheel
wordcloud
wrapt
